/* reset font size to 10px */

body,
select,
input,
textarea {
    font: 0.625em/1.4 Avalon, sans-serif;
    box-sizing: border-box;
}

/* ==========
    Grid
   ==========  */

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

#cover,
.latest,
.articles {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

#cover {
    grid-auto-rows: minmax(16em, 26em);
}

.articles {
    background: greenyellow;
    min-height: 600px;
}

.articles section {
    border: 1px solid black;
}

footer {
    grid-column: 1/2;
    height: 40px;
    background: black;
}

/* =======
   header - cover
   ======= */

#main-article,
#art-1,
#art-2 {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

#main-article .cover-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("imgs/img1.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

#art-1 .cover-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E2E3E5 url("imgs/img2.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

#art-2 .cover-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("imgs/img3.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

#main-article .cover-link,
#art-1 .cover-link,
#art-2 .cover-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(224, 196, 196);
    background: linear-gradient(to bottom, rgba(224, 196, 196, 1) 0%, rgba(255, 255, 255, 0.17130602240896353) 0%, rgba(0, 0, 5, 1) 100%);
    z-index: 2;
}

#main-article header,
#art-1 header,
#art-2 header {
    position: absolute;
    bottom: 2em;
    left: 1em;
    vertical-align: baseline;
    z-index: 3;
}

header h1 {
    margin: 0.2em 0;
    font-size: 2em;
    line-height: 1em;
}

header h2 {
    margin: 0.2em 0;
    font-size: 2em;
    line-height: 1em;
}

header h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: -0.3px;
}

header h4 a,
header h4 {
    margin: 0;
    font-size: 1em;
    color: #4C4C4D;
}

header a {
    display: inline-block;
    padding: 0;
    margin: 0;
    bottom: 0;
    color: #fff;
}

header h4 a:hover {
    color: #fff;
}

a {
    text-decoration: none;
}

/* ===============
   section: latest
   =============== */

.latest {
    margin-left: 1em;
}

.latest h2 a {
    color: #ff4422;
    font-size: 1.9em;
    line-height: 2em;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.latest-story {
    display: grid;
    grid-template-columns: 7.5em 1fr;
    grid-gap: 1em;
}

a[id^="latest"] {
    grid-row: 1 / 3;
    max-height: 7.5em;
    margin: 0.6em 0;
    background-position: center center;
    background-size: cover;
}

.story-title {
    margin: 0.6em 0;
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.2em;
}

.story-title a {
    color: #000;
}

.story-title a:hover {
    color: #ff4422;
}

.story-line {
    padding-left: 0;
}

.story-line li {
    display: inline-block;
    padding-right: 1em;
    color: #aaa;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
}

#latest-1 {
    background-image: url("imgs/latest1.jpg");
}

#latest-2 {
    background-image: url("imgs/latest2.jpg");
}

#latest-3 {
    background-image: url("imgs/latest3.png");
}

#latest-4 {
    background-image: url("imgs/latest4.png");
}

#latest-5 {
    background-image: url("imgs/latest5.jpg");
}

#latest-6 {
    background-image: url("imgs/latest6.jpg");
}

#latest-7 {
    background-image: url("imgs/latest7.jpg");
}

#latest-8 {
    background-image: url("imgs/latest8.jpg");
}

/* ==============
   articles section
   ============== */

#apps-img-1 {
    background-image: url(imgs/apps1.jpg);
}

#apps-img-2 {
    background-image: url(imgs/apps2.jpg);
}

#gear-img-1 {
    background-image: url(imgs/gear1.jpg);
}

#gear-img-2 {
    background-image: url(imgs/gear2.jpg);
}

#tech-img-1 {
    background-image: url(imgs/tech1.png);
}

#tech-img-2 {
    background-image: url(imgs/tech2.jpg);
}

#creative-img-1 {
    background-image: url(imgs/creative1.jpg);
}

#creative-img-2 {
    background-image: url(imgs/creative2.jpg);
}

#contributors-img-1 {
    background-image: url(imgs/cont1.jpg);
}

#contributors-img-2 {
    background-image: url(imgs/cont2.png);
}

#insights-img-1 {
    background-image: url(imgs/in1.jpg);
}

#insights-img-2 {
    background-image: url(imgs/in2.png);
}

#launch-img-1 {
    background-image: url(imgs/launch1.jpg);
}

#launch-img-2 {
    background-image: url(imgs/launch2.jpg);
}

#world-img-1 {
    background-image: url(imgs/world1.jpg);
}

#world-img-2 {
    background-image: url(imgs/world2.png);
}

#distract-img-1 {
    background-image: url(imgs/dis1.jpg);
}

#distract-img-2 {
    background-image: url(imgs/dis2.jpg);
}

/* ===============
   medium devices, breakpoint ~ 760px
   =============== */

@media (min-width: 48em) {
    #cover {
        grid-template-columns: 2fr 1fr;
    }
    #main-article {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    #cover h1 {
        font-size: 4em;
    }
    #cover h2 {
        font-size: 2em;
    }
    .article {
        grid-column: 2 / 3;
    }
    .latest {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3em repeat(minmax(1fr, 25em));
    }
    .latest h2 {
        grid-column: 1 / 4;
    }
    .latest-story {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr;
        margin: 1em 0.5em;
    }
    a[id^="latest"] {
        grid-row: 1/2;
        max-height: 100%;
    }
    .latest-story h4 {
        font-size: 1.6em;
        line-height: 1.2em;
    }
    .story-line li {
        margin-top: -2em;
    }
    .articles {
        grid-template-columns: 1fr 1fr;
    }
}

/* large devices, breakpoint 1024px */

@media (min-width: 64em) {
    main {
        width: 1052px;
        margin: 0 auto;
    }
    #cover h1 {
        font-size: 5.6em;
    }
    #cover h2 {
        font-size: 2.8em;
    }
    #cover h4 {
        font-size: 1.2em;
    }
    .latest {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3em repeat(minmax(1fr, 270px));
    }
    .latest-story {
        grid-template-rows: 13.5em 1fr;
    }
    .latest h2 {
        grid-column: 1 / 5;
    }
    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}